body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1,
h2 {
  z-index: 2;
  color: white;
}
p {
  color: #858585;
}
.projectContainer {
  display: flex;
  flex-direction: row;
  max-width: 850px;
}

.projectContainerComputer {
  max-width: 850px;
  width: 90vw;
}
.projectContainerComputer .projectTitle {
  text-align: center;
}
.projectContainerComputer .textContainer {
  position: relative;
  top: -100px;
  z-index: 1;
}
.projectContainer .textContainer {
  margin-top: 50px;
  max-width: 400px;
  margin-right: 40px;
}
.projectContainer .textContainer.right {
  max-width: 400px;
  margin-right: 0px;
  margin-left: 40px;
}
.phone {
  display: flex;
  position: relative;
  height: 450px;
}

.computer {
  display: flex;
  position: relative;
  height: 300px;
  width: 850px;
  max-width: 90vw;
}
.previewPhone {
  width: 250px;
}
.shadow {
  position: absolute;
  width: 250px;
  height: 450px;
  left: 0;
  top: 0;
  background: linear-gradient(
    360deg,
    #222222 20%,
    rgba(34, 34, 34, 0.6) 80%,
    rgba(34, 34, 34, 0) 120%
  );
  mix-blend-mode: normal;
  transition-duration: 0.5s;
}
.shadowComputer {
  top: -10px;
  height: 310px;
  max-width: 90vw;
  width: 850px;
  background: linear-gradient(
    360deg,
    #222222 40%,
    rgba(34, 34, 34, 0.6) 80%,
    rgba(34, 34, 34, 0) 120%
  );
}
.shadow:hover {
  top: 10px;
  transition-duration: 0.5s;
}
.shadowComputer:hover {
  top: 0px;
  transition-duration: 0.5s;
}

.technologies {
  display: flex;
  flex-wrap: wrap;
}

.technology {
  background-color: #333333;
  color: white;
  font-size: 12px;

  padding: 3px 10px 3px 10px;
  border-radius: 5px;
  margin-top: 10px;
  margin-right: 10px;
}

.technology:hover {
  background-color: #858585;
}

.otherProjectsContainer {
  display: flex;
  max-width: 850px;
  width: 100%;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.otherProject {
  width: 35vw;
  max-width: 350px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
}

.otherProject .projectTitle {
  color: white;
  font-size: 20px;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 10px;
}
.otherProject .projectDescription {
  color: #949494;
  font-size: 15px;
}
.projectDescription a {
  color: #a1a1a1;
}
.otherProjectPreview {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5vw;
}

.previewComputer {
  max-width: 850px;
  width: 90vw;
}
.otherProjectPreview,
.otherProjectPreview img {
  background-color: #2a2a2a;
  width: 35vw;
  height: 25vw;
  border-radius: 25px;
  max-width: 350px;
  max-height: 250px;
}

.otherProject .technologies {
  flex-grow: 1;
  justify-self: flex-end;
  display: flex;
  align-items: flex-end;
}

.slideInRight {
  animation: slideInRight 1s;
  animation-iteration-count: 1;
}
@keyframes slideInRight {
  0% {
    transform: translateX(-800px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.slideInLeft {
  animation: slideInLeft 1s;
  animation-iteration-count: 1;
}
@keyframes slideInLeft {
  0% {
    transform: translateX(800px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.buttonPrimary {
  margin-top: 20px;
  background-color: white;
  border-radius: 12px;
  text-decoration: none;
  color: black;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  padding: 10px;
  padding-inline: 15px;
}

@media (max-width: 600px) {
  * {
    animation: none !important;
  }
  .projectContainer {
    margin-top: 0;
    margin-bottom: -150px;
  }

  .projectContainerComputer {
    margin-top: 100px;
  }
  .otherProjectsContainer {
    flex-wrap: nowrap;
    flex-direction: column;

    justify-content: center;
    align-items: center;
  }
  .otherProjectPreview,
  .otherProjectPreview img {
    font-size: 40px;
    width: 50vw;
    min-width: 250px;
    height: auto;
    min-height: 35vw;
    min-height: 200px;
  }
  .otherProject {
    width: 50vw;
    min-width: 250px;
  }
  .shadow {
    width: 100%;
  }
  .shadow {
    position: absolute;
    width: 250px;
    height: 450px;
    left: 0;
    top: 0;
    background: linear-gradient(
      360deg,
      #222222 40%,
      rgba(34, 34, 34, 0.6) 80%,
      rgba(34, 34, 34, 0) 120%
    );
    mix-blend-mode: normal;
    transition-duration: 0.5s;
  }
  .shadowComputer {
    width: 100%;
    background: linear-gradient(360deg, #222222 80%, rgba(34, 34, 34, 0) 120%);
  }

  .phone {
    justify-content: center;
    position: relative;
  }
  .phoneAtRight {
    display: flex;
    flex-direction: column;
  }
  .phoneAtLeft {
    display: flex;
    flex-direction: column-reverse;
    animation: none;
  }

  .phoneResponsiveContainer {
    position: absolute;
    z-index: 1;
    width: 80vw;
    right: 50vw;
    transform: translateX(50%) translateY(120px);
  }

  .computer {
    height: auto;
  }
}

.GithubButtonContainer {
  margin-top: 15px;
  align-items: center;
}

.GithubButton {
  font-size: 15px;
  color: white;
  display: flex;
  width: fit-content;
  text-decoration: none;
  padding: 5px;
  justify-content: space-evenly;
  align-items: center;
  background-color: #333333;
  padding: 5px 15px 5px 15px;
  border-radius: 5px;
  margin-top: 10px;
  margin-right: 10px;
  transition-duration: 0.6s;
}
.GithubButton:hover {
  background-color: #858585;
  transform: scale(120%);
  transition-duration: 0.6s;
}
.GithubButton img {
  filter: invert(100%);
  margin-left: 10px;
  width: 15px;
  height: 15px;
}

.otherProjectWithLink img,
.otherProjectWithLink {
  transform: scale(100%);
  transition-duration: 0.5s;
}

.otherProjectWithLink:hover img,
.otherProjectWithLink:hover {
  transform: scale(105%);
  cursor: pointer;
  transition-duration: 0.5s;
}
