.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.textContainer {
  margin-right: 20px;
  padding-bottom: 20px;
}
.title {
  color: white;
  font-size: 50px;
  font-weight: 600;
  line-height: 60px;
  font-style: normal;
  animation-duration: 1s;
}

.buttonsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  animation-duration: 1s;
  align-items: center;
}

a {
  text-decoration: none;
}
.buttonPrimary {
  background-color: white;
  border-radius: 12px;
  text-decoration: none;
  color: black;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  padding: 10px;
  margin-bottom: 20px;
  position: relative;
}
.buttonSecondary {
  margin-top: 20px;
  text-decoration: none;
  color: #a7a3a3;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  padding: 10px;
}
.Icon {
  width: 30px;
  position: absolute;
  left: 20px;
}

@media (max-width: 975px) {
  .title,
  .subTitle,
  .buttonSecondary {
    text-align: center;
  }
  .buttonsContainer {
    justify-content: center;
  }
}
