body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1,
h2 {
  color: white;
}
p {
  color: #858585;
}
.projectContainer {
  display: flex;
  flex-direction: row;
  max-width: 850px;
}

.projectContainerComputer {
  max-width: 850px;
}
.projectContainerComputer .projectTitle {
  text-align: center;
}
.projectContainerComputer .textContainer {
  position: relative;
  top: -100px;
  z-index: 1;
}
.projectContainer .textContainer {
  margin-top: 50px;
  max-width: 400px;
  margin-right: 40px;
}
.projectContainer .textContainer.right {
  max-width: 400px;
  margin-right: 0px;
  margin-left: 40px;
}
.phone {
  display: flex;
  position: relative;
  height: 450px;
}

.computer {
  display: flex;
  position: relative;
  height: 300px;
  width: 850px;
}
.previewPhone {
  width: 250px;
}
.shadow {
  position: absolute;
  width: 250px;
  height: 450px;
  left: 0;
  top: 0;
  background: linear-gradient(
    360deg,
    #222222 20%,
    rgba(34, 34, 34, 0.6) 80%,
    rgba(34, 34, 34, 0) 120%
  );
  mix-blend-mode: normal;
  transition-duration: 0.5s;
}
.shadowComputer {
  top: -10px;
  height: 310px;
  width: 850px;
  background: linear-gradient(
    360deg,
    #222222 40%,
    rgba(34, 34, 34, 0.6) 80%,
    rgba(34, 34, 34, 0) 120%
  );
}
.shadow:hover {
  top: 10px;
  transition-duration: 0.5s;
}
.shadowComputer:hover {
  top: 0px;
  transition-duration: 0.5s;
}

.technologies {
  display: flex;
  flex-wrap: wrap;
}

.technology {
  background-color: #333333;
  color: white;
  font-size: 12px;

  padding: 3px 10px 3px 10px;
  border-radius: 5px;
  margin-top: 10px;
  margin-right: 10px;
}

.technology:hover {
  background-color: #858585;
}

.otherProjectsContainer {
  display: flex;
  max-width: 850px;
  width: 100%;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.otherProject {
  width: 35vw;
  max-width: 350px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
}

.otherProject .projectTitle {
  color: white;
  font-size: 20px;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 10px;
}
.otherProject .projectDescription {
  color: #858585;
  font-size: 15px;
}
.projectDescription a {
  color: #a1a1a1;
}
.otherProjectPreview {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5vw;
}
.otherProjectPreview,
.otherProjectPreview img {
  background-color: #2a2a2a;
  width: 35vw;
  height: 25vw;
  border-radius: 25px;
  max-width: 350px;
  max-height: 250px;
}

.otherProject .technologies {
  flex-grow: 1;
  justify-self: flex-end;
  display: flex;
  align-items: flex-end;
}
