@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@keyframes comesFromLeft {
  0% {
    transform: translateX(-200%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes comesFromRight {
  0% {
    transform: translateX(200%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes leavesToLeft {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(-2000%);
    opacity: 0;
  }
}
@keyframes leavesToRight {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(2000%);
    opacity: 0;
  }
}

body {
  background-color: #222222;
  font-family: "Roboto", sans-serif;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}
body.light {
  background-color: white;
}
.comesFromLeft {
  animation-name: comesFromLeft;
}

.comesFromRight {
  animation-name: comesFromRight;
}

.leavesToLeft {
  animation-name: leavesToLeft;
  animation-iteration-count: 1;
  animation-duration: 1.5s !important;
  transition-duration: 1.5s;
  opacity: 0;
}
.leavesToRight {
  animation-name: leavesToRight;
  animation-iteration-count: 1;
  animation-duration: 1.5s !important;
  transition-duration: 1.5s;
  opacity: 0;
}

.otherProject {
  max-width: 450px;
}

a {
  text-decoration: none;
}

.header {
  max-width: 800px;
  width: 80%;
  align-self: center;
  height: 80px;
}

.headerUl {
  padding: 0;
  list-style: none;

  justify-content: center;
  display: flex;

  flex-direction: "row";
  justify-content: space-between;
  list-style: none;
}

.headerItem {
  margin: 0 0 0 0;

  font-family: "Roboto", sans-serif;
  position: relative;
}

.headerItem.active {
  flex-direction: row;
}
.headerLink {
  text-decoration: none;
  color: #787878;
}
.light .headerLink {
  color: black;
}
.active .headerLink {
  color: #a9a9a9;
}
.light .active .headerLink {
  color: #787878;
}

.active .headerLink::after {
  content: "•";
  position: absolute;
  left: 50%;
  top: 15px;
}
#headerBurger {
  display: none;
}
/* Responsive header */

.langageSelector {
  width: 30px;
  position: absolute;
  top: 20px;
  left: 20px;
}

.themeSelector {
  width: 30px;
  position: absolute;
  top: 70px;
  left: 20px;
  filter: invert(84%) sepia(88%) saturate(5550%) hue-rotate(354deg)
    brightness(109%) contrast(101%);
}

#moon img {
  filter: none;
}

@media (max-width: 435px) {
  .themeSelector {
    top: 20px;
    left: 70px;
  }

  .header {
    position: absolute;
    display: none;
    align-self: flex-end;
    align-items: flex-end;
    top: 70px;
    z-index: 1;
    width: 100%;
    left: 0px;
    z-index: 10;
  }
  .header.responsive {
    display: block;
    padding-top: 0;
    display: flex;
    width: 100%;

    align-items: flex-end;
    flex-direction: column;
    justify-content: right;
    margin-bottom: 20px;
  }
  .header.responsive ul {
    width: 100%;

    padding-top: 0;
    margin-top: 0;
    flex-direction: column;
    display: flex;
    display: flex;
    align-items: flex-start;
  }
  .headerItem {
    width: 100%;
  }

  .header.responsive ul li {
    width: 100%;
    flex: 1;

    text-align: left;
  }
  .header.responsive ul a {
    /* width: 100%; */
    flex: 1;
    background-color: #222222;
    color: white;
    height: 50px;
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: left;
    border-bottom: #787878 1px solid;
    font-weight: 600;
  }
  body.light > .header.responsive ul a {
    background-color: white;
    color: black;
  }

  #headerBurger {
    display: block;
    width: 50px;
    height: 50px;
    align-self: flex-end;
    margin-right: 20px;
    z-index: 2;
    filter: invert(48%) sepia(8%) saturate(5%) hue-rotate(358deg)
      brightness(96%) contrast(93%);
  }
}

